[submodule "master"]
	path = master
	url = https://github.com/basyura/TweetVim
[submodule ".vim\\bundle\\TweetVim"]
	path = .vim\\bundle\\TweetVim
	url = https://github.com/basyura/TweetVim
[submodule ".vim/bundle/jellybeans.vim"]
	path = .vim/bundle/jellybeans.vim
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
