[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".vim/ftbundle/python/jedi-vim.git"]
	path = .vim/ftbundle/python/jedi-vim.git
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/bundle/Align"]
	path = .vim/bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule ".vim/bundle/operator-camelize.vim"]
	path = .vim/bundle/operator-camelize.vim
	url = https://github.com/tyru/operator-camelize.vim.git
[submodule ".vim/bundle/vim-operator-user"]
	path = .vim/bundle/vim-operator-user
	url = https://github.com/kana/vim-operator-user.git
[submodule ".vim/ftbundle/ps1/poshcomplete-vim"]
	path = .vim/ftbundle/ps1/poshcomplete-vim
	url = https://github.com/cd01/poshcomplete-vim.git
[submodule ".vim/ftbundle/ps1/vim-ps1"]
	path = .vim/ftbundle/ps1/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule ".vim/bundle/sonictemplate-vim"]
	path = .vim/bundle/sonictemplate-vim
	url = https://github.com/mattn/sonictemplate-vim.git
[submodule ".vim/bundle/webapi-vim"]
	path = .vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule ".vim/bundle/vim-startify"]
	path = .vim/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-quickrun"]
	path = .vim/bundle/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule ".vim/bundle/base16-vim"]
	path = .vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/excitetranslate-vim"]
	path = .vim/bundle/excitetranslate-vim
	url = https://github.com/mattn/excitetranslate-vim.git
[submodule ".vim/bundle/vim-unbundle"]
	path = .vim/bundle/vim-unbundle
	url = https://github.com/sunaku/vim-unbundle.git
[submodule ".vim/ftbundle/scala/vim-scala"]
	path = .vim/ftbundle/scala/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vimperator/vimppm/vimppm"]
	path = .vimperator/vimppm/vimppm
	url = https://github.com/cd01/vimppm.git
